<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Computed and Watchers</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="number" type="text"> <br/>
        <button @click="a+=parseInt(number)">A = A + Number</button>
        <button @click="b+=parseInt(number)">B = B + Number</button>
        <p>Number + A = {{ addA() }}</p>
        <p>Number + B = {{ addB() }}</p>
        <hr>
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
        <hr>
        <div id="demo">{{ fullName }}</div>
        <div>{{ fullName = 'Nguyễn Quang' }}</div>
        <hr>
        <div id="watch-example">
            <p>
              Ask a yes/no question:
              <input v-model="question">
            </p>
            <p>{{ answer }}</p>
          </div>
    </div>
</body>
<script src="main.js"></script>
</html>