body {
  overflow-x: hidden;
}

.detail header {
  background-color: #044863;
  z-index: 100000;
}
.detail i {
  color: white;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
}
.body .menu {
  position: relative;
  top: 0;

  left: -12px;
}

.body .menu ul li {
  display: inline-flex;
  background-color: #2a2f33;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.03);
}
.body .menu ul li:hover {
  background-color: red;
}
.body .menu ul li:focus {
  background-color: red;
}

.body .menu ul li a {
  width: 100%;
  color: white;
  padding: 15px 30px;
}
.body .main-page {
  padding: 140px 7% 50px 3%;
}
.detail .body .main-page .title-header {
  padding-top: 15px;
}
.detail .body .main-page .title-header-2 {
  padding-top: 55px;
}
.title-header-img {
  left: 32%;
  bottom: -30px;
}
.title-header-3 {
  margin-bottom: 15px;
}
.tow {
  margin-top: -30px !important;
}
.inline-site-logo {
  background: #c4c4c4;
  display: inline-block;
  vertical-align: sub;
  height: 24px;
}
.inline-site-logo {
  background: #c4c4c4;
  display: inline-block;
  vertical-align: sub;
  height: 17px;
}
/* .{
  height: 100%; 
  background-color: #2a2f33;
} */
.detail .body .main-page .title-header .span-1 {
  top: -45px;
}
.detail .body .main-page .title-header .span-2 {
  left: 0;
  bottom: 10px;
}
.text-1 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: calc(96% + 6px);
  font-weight: 700;
}
.text-2,
.text-3 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: 93%;
  font-weight: 700;
}
.text-1 {
  bottom: 0;
}
.text-1,
.text-2,
.text-3 p {
  color: #eee;
}
.top-right {
  margin-bottom: 35px;
}
.top-right .text-2 {
  position: absolute;
  bottom: 52%;
}
.bottom-right .text-3 {
  position: absolute;
  bottom: 0;
}
.body-footer .tow .card-body {
  position: relative;
  margin: 10px;
}
.one {
  margin-top: -14px;
}
.body-footer .tow p {
  position: absolute;
  bottom: 15px;
  color: #eee;
  width: 89%;
  padding: 5px;
}
.body-footer .btn-card {
  margin-top: -23px;
}
.body-footer .one .aaa {
  cursor: pointer;
}
.img-left-body-header:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
.card:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
footer .left a {
  left: 17%;
  top: -10px;
}
footer .left a:hover {
  color: rgb(27, 47, 226) !important;
}

.body-footer a {
  text-decoration: none;
  color: #777;
}
.body-footer .card {
  cursor: pointer;
}
.btn-viewall i {
  font-size: 13px;
}
#nav-body{
  height: 100%; 
  background-color: #2a2f33;
}
