body {
  overflow-x: hidden;
  font-size: 14px;
}

.home header {
  background-color: #044863;
  z-index: 100000;
}
.home i {
  color: white;
  font-size: 20px;
}

.menu a {
  text-decoration: none;
}
.body .menu {
  position: relative;
  top: 0;

  left: -12px;
}
.bottom-right{
  margin-top: -14px;
 }
 
 .top-right,.bottom-right{
   height: 50%;
 }
 
 .img-left-body-header-2, .img-left-body-header-3, .img-left-body-header-2 img, .img-left-body-header-3 img{
   height: 100%;
 }
.body .menu ul li {
  display: inline-flex;
  background-color: #2a2f33;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.03);
}
.body .menu ul li:hover {
  background-color: red;
}
.body .menu ul li:focus {
  background-color: red;
}
.left-body-header,
.top-right,
.bottom-right {
  cursor: pointer;
}
.list-img-header {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body .menu ul li a {
  width: 100%;
  color: white;
  padding: 15px 30px;
}
.body-header {
}
.body .main-page {
  padding: 30px 7% 50px 3%;
}
.inline-site-logo {
  background: #c4c4c4;
  display: inline-block;
  vertical-align: sub;
  height: 17px;
}
.text-1 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: 90%;
  font-weight: 700;
}
.text-2,
.text-3 {
  text-shadow: 2px 2px 4px #000;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.19) 28%,
    rgba(0, 0, 0, 0.7)
  );
  width: 93%;
  font-weight: 700;
}
.text-1 {
  bottom: 10px;
  left: 15px;
}
.text-1,
.text-2,
.text-3 p {
  color: #eee;
}
.top-right {
  margin-bottom: 35px;
}
.top-right .text-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-right .text-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.body-footer .tow .card-body {
  position: relative;
  margin: 5px;
}
.body-footer .tow p {
  position: absolute;
  bottom: 15px;
  color: #eee;
  width: 89%;
  padding: 5px;
}

.img-left-body-header:hover,
.top-right:hover,
.bottom-right:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
.card:hover {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}
footer .left a {
  left: 17%;
  top: -10px;
}
footer .left a:hover {
  color: rgb(27, 47, 226) !important;
}

.body-footer a {
  text-decoration: none;
  color: #777;
}
.body-footer .card {
  cursor: pointer;
}
.btn-viewall i {
  font-size: 13px;
}
#nav-sidebar{
  height: 100%; 
  background-color: #2a2f33;
}
.row-img{
  margin-left: 5vh;
}
#nav-text{
  margin-left: -7px;
  width: 103vh;
}
#nav-text2{
  width: 54vh;
}
#nav-text3{
  width: 54vh;
}
@media (max-width : 950px) {
  .col-left-sidebar {
    display: none;
  }
}
