<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">Search Blog</h4>
                <div class="card-body">
                  <form class="form-group row">
                    <label for="inputSearch" class="col-sm-2 col-form-label"
                      >Title:
                    </label>
                    <div class="col-sm-10">
                      <input
                        id="inputSearch"
                        v-model="keySearch"
                        type="text"
                        class="form-control"
                        placeholder="Search"
                      />
                    </div>
                    <div class="d-flex justify-content-center" style="flex: 1">
                      <button
                        type="submit"
                        @click.prevent="handleSearch()"
                        class="btn btn-outline-success btn-search mt-4"
                      >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="listblog mt-4">
                <div class="card">
                  <h4 class="card-title">List Blog</h4>
                  <div class="card-body">
                    <div class="table-reponsive">
                      <table class="table table-border">
                        <thead>
                          <tr>
                            <td>ID</td>
                            <td>Tin</td>
                            <td>Loại</td>
                            <td>Trạng thái</td>
                            <td>Vị trí</td>
                            <td>Ngày public</td>
                            <td>Edit</td>
                            <td>Delete</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="item in listBlog" :key="item.id">
                            <td scope="row">{{ item.id }}</td>
                            <td>{{ item.title }}</td>
                            <td>{{ convertCategory(item.category) }}</td>
                            <td>{{ item.public ? 'Yes' : 'No' }}</td>
                            <td>{{ convertPositon(item.position) }}</td>
                            <td>{{ item.data_pubblic }}</td>
                            <td>
                              <nuxt-link
                                type="button"
                                class="btn btn-outline-primary"
                                :to="'/blog/' + item.id"
                              >
                                Edit
                              </nuxt-link>
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-outline-danger"
                                @click="handleDelete(item.id)"
                              >
                                Delete
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { LIST_CATEGORY, LIST_POSITION, BASE_URL } from '@/constants/constans.js'
export default {
  props: {
    /**
     * Props listBlog
     */
    listBlog: {
      type: Array,
      default: () => [],
    },
  },

  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL
    },
  },

  /**
   * Function DaTa
   * @return list
   * @return keySearch
   */
  data() {
    return {
      list: [],
      keySearch: '',
    }
  },

  /**
   *  Function DaTa
   */
  mounted() {
    this.getList()
  },
  methods: {
    /**
     * Method getList
     */
    getList() {
      axios
        .get(`${BASE_URL}`)
        .then((res) => {
          this.list = res.data
        })
        .catch((error) => alert(error))
    },

    /**
     * Method HandleDelete
     * @param id
     */
    async handleDelete(itemId) {
      if (confirm(`Comfirm Delete ${itemId} ?`)) {
        await axios
          .delete(`${BASE_URL}/${itemId}`)
          .then(() => {
            this.$emit(`on-delete`)
            this.statusAlert = true
            setTimeout(() => {
              this.statusAlert = false
              window.location.reload(true)
              alert('Delete Success')
            }, 1000)
          })
          .catch((error) => alert(error))
      }
    },

    /**
     * Method HandleSearch
     * @param id
     */
    handleSearch() {
      this.$emit('on-search', this.keySearch)
    },

    /**
     * Method ConvertCategory
     * @param id
     * @param category
     * @return name
     */
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(
        (cate) => cate.categoryId === categoryId
      )
      return category?.name
    },

    /**
     * Method ConvertPositon
     * @return ListPosition
     */
    convertPositon(arrPosition) {
      const listPosition = []
      arrPosition.forEach((position) => {
        listPosition.push(
          LIST_POSITION.find((posi) => posi.positionId === position).positionName
        )
      })
      return listPosition.join(',')
    },

    /**
     * Clear Input
     */
    onClearInput() {
      this.item = {}
      window.scrollTo(0, 0)
    },
  },
}
</script>
<style >
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  border: 1px solid #d4cece;
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.card-item-last {
  padding: 10px 0;
}

.title-newpage {
  padding: 10px 0;
}

.title1 {
  height: 40px;
}

.title2 {
  height: 94px;
}

.title3 {
  height: 148px;
}

.btn-img {
  border: 1px solid;
  padding: 1px 6px;
  border-radius: 3px;
}

.input-last {
  display: flex;
  flex-direction: column;
}

.input-last select,
.input-last input {
  height: 40px;
}

.btn-group {
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.btn-search {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
</style>
